<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-user"></i>
    <%= user.displayName %>
  </a>
  <div class="dropdown-menu dropdown-menu-lg mx-auto">
    <!-- <a href="#" class="dropdown-item"> -->
    <!-- Message Start -->
    <div class="media m-2">
      <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-150 mx-auto img-circle">
    </div>
    <div class="media-body m-3">
      <a href="#" class="btn btn-sm btn-primary">Profile</a>
      <a href="/logout" class="btn btn-sm btn-primary float-right">Logout</a>
    </div>
  </div>
  <!-- Message End -->
  <!-- </a> -->
</li>